<%= stylesheet_link_tag "application.css" %>
<%= javascript_include_tag "application" %>

<body class="no-touch"> 


<!-- Carousel 

<div id="main">
  
  <ul class="slider">
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-1.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-8.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-7.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-6.jpg" />
    </li>
  </ul>

</div>

-->

<!-- TEMP CAROUSEL HOLDER -->
<div id="main">
       <center> <%= image_tag ("http://lorempixel.com/output/abstract-q-c-640-480-1.jpg"), :class => "slider" %></center>
</div>



<!-- Grid...make infinite after user prof implemented -->

<div class="wrap">
    
    <!-- Define all of the tiles: -->
  <% @services.each do |service| %>
    <div class="box">
      <div class="boxInner" >
        <%= image_tag ( 
          service.picture ? service.picture.storage_key : "tumblr_nf0pdmqriX1rwb4yto1_500.jpg" 
        ), :class => "boxInner" %>
          <div id="overlay">
            <div id="textdiv"><p> <%=service.name%> </p><hr><p> $<%= service.cost.round(2) %> </p>
    

            </div>


          </div>
      </div>
    </div>
    <% end %>
<!--     <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
     <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>   
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">
        </div>
      </div>
    </div>             -->
</div>

