<%= stylesheet_link_tag "application.css" %>
<%= javascript_include_tag "application" %>


<div class="header-cont">
	<div class = "header"> 

    <!--cant figure out how to link these to the right place for the life of me....-->
      <%= image_tag "logo.png", :class => "smallLogo" %>
      <%= image_tag @current_user.picture.storage_key, :class => "userAvatar" %>
  </div>
</div>


<!-- Carousel 

<div id="main">
  
  <ul class="slider">
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-1.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-8.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-7.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-6.jpg" />
    </li>
  </ul>

</div>

-->

<!-- TEMP CAROUSEL HOLDER -->
<div id="main">

</div>



<!-- Grid...make infinite after user prof implemented -->

<div class="wrap">
    
    <!-- Define all of the tiles: -->
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
        <div class="titleBox">title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">


        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>

        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "1435049682_kimberley-walsh-dyes-hair-pink.jpg", :class => "boxInner" %>
        <div class="titleBox">hover title</div>
      </div>
    </div>
    
  </div>



