<%= stylesheet_link_tag "application.css" %>
<%= javascript_include_tag "application" %>


<div class="header-cont">
	<div class = "header"> 
    <a href = "index.html.erb"> 
      <%= image_tag "logo.png", :class => "smallLogo" %>
    </a> 
    <a href = "index.html.erb"> 
      <%= image_tag "placeholderuseravatar.png", :class => "userAvatar" %>
    </a> 
  </div>
</div>




<div id="main">
  
  <ul class="slider">
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-1.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-8.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-7.jpg" />
    </li>
    <li>
      <img src="http://lorempixel.com/output/abstract-q-c-1056-480-6.jpg" />
    </li>
  </ul>

</div>


<!-- 
<h1>Omni</h1>
<% @services.each do |service| %>
  <br>
  <%= link_to service do %>
    <%= service.name %> <br>
  <% end %>
  
  <%= image_tag( service.picture.storage_key ) if service.picture.present? %><br>


  by: <%= link_to service.professional do %>
    <%= service.professional.username %>
  <% end %>

<%end%> 

 -->