<%= stylesheet_link_tag "application.css" %>
<%= javascript_include_tag "application" %>


<!-- Prof Info -->

<div class= "col-md-4 mainProf">
  <p class="headerText"><%= @professional.location %> </br></br>
  <%= @professional.description %> </p>
</div>

<div class= "col-md-4 mainProf">
  <%= image_tag @professional.picture.storage_key, :id => "userAvatarBig" %>
  <p id="username"><%=@professional.first_name%> <%=@professional.last_name%></p>
  <p class="userIdentifier">@<%=@professional.username%></p>
</div>

  <div class= "col-md-4 mainProf">
    <p class="headerText followingNumber"><%= Action.where( 
        actionable_type: 'Professional',
        actionable_id: @professional.id 
      ).count %> <br><br></p>
      <div class="followingText">Followers</div>
      <%=button_to "#{@current_user.actions.where(
                      actionable_type: 'Professional', actionable_id: @professional.id
          ).present? ? "followed" : "follow"  }", "",
 class: "btn btn-primary #{@current_user.actions.where(
                      actionable_type: 'Professional', actionable_id: @professional.id
          ).present? ? "followed" : "follow"  }", id: "Professional-#{@professional.id}",
          action: "create" %><br><br>
  </div>



<!-- Grid...make infinite after user prof implemented if you have-->

<div class="wrap full">

    <% @professional.services.each do |service| %>
    <div class="box">
      <div class="boxInner">
        <%= image_tag ( 
          service.picture ? service.picture.storage_key : "tumblr_nf0pdmqriX1rwb4yto1_500.jpg" 
        ), :class => "boxInner" %>
          <div id="overlay">
            <div id="textdiv"><p> <%=service.name%> </p><hr><p> $<%= service.cost.round(2) %> </p></div>
            <div class="purchaseable"><%= render partial: "purchases/new",  locals: {purchaseable: service } %></div>
        </div>
      </div>
    </div>
    <% end %>
</div>


