<%= stylesheet_link_tag "application.css" %>
<%= javascript_include_tag "application" %>


<!-- Prof Info -->

<div class= "col-md-4 mainProf">
  <p class="headerText"><%= @current_user.location %> </br></br>
  <%= @current_user.description %> </p>
</div>

<div class= "col-md-4 mainProf">
  <!--need to change this to backend after I reupload the imagine without the carat -->
  <%= image_tag @current_user.picture.storage_key, :id => "userAvatarBig" %>
  <p id="username"><%=@current_user.first_name%> <%=@current_user.last_name%></p>
  <p class="userIdentifier">@<%=@current_user.username%></p>
</div>

  <div class= "col-md-4 mainProf">
    <p class="headerText followingNumber"><%= @current_user.actions.count %> <br><br></p>
      <div class="followingText">Following</div>

  </div>



<!-- Grid...make infinite after user prof implemented if you have-->

<div class="wrap full">
    
    <!-- Define all of the tiles: -->

    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">
            <div id="textdiv"><p> Look Name </p><hr><p> $75 </p></div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
     <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>   
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">

        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">
        </div>
      </div>
    </div>
    <div class="box">
      <div class="boxInner">
        <%= image_tag "tumblr_nf0pdmqriX1rwb4yto1_500.jpg", :class => "boxInner" %>
          <div id="overlay">
        </div>
      </div>
    </div>            
</div>

